.search>div>div>div {
  height: 200px;
  border: 1px solid #cccccc;
}

.b-form div{
    padding: 0;
    padding-top: 10px;
}
.baiduinput {
  width: 100%;
  height: 46px;
}

.baidu-logo{
    height:60px;
    margin-bottom: 15px;
}
.contents .sidebar div {
  height: 800px;
  border: 1px solid #cccccc;
}
.contents .hrefs > div {
  height: 800px;
  border: 1px solid #cccccc;
}
.href-item div {
  height: 235px;
  border: 1px solid #cccccc;
  font-size: 20px;
}
.href-item {
  padding: 15px;
}
