@width: 200px;
@height:200px;
@border: 1px solid #ccc;
@boxshadow1: 0 0 8px #330000  ;
@boxshadow2: 5px 5px 5px #ccc;
.row div div{
    height: @height;
    border:@border;
    box-shadow:@boxshadow2;
}


.row  div div:hover{
    box-shadow:@boxshadow1;
}
.nav{
    height: 200px;
}

